html {
  font-family: "Montserrat", sans-serif;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /*background-color: white;*/
  background-image: url('../images/butterfly.jpg');
  background-size: cover;
  background-repeat:repeat-y;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*Form Header*/
#heading{
  text-align: center;
  margin: 10px;
  color: white;
}
/* SURVEY FORM STYLES */

form {
    background-color: aqua;
    margin: 0 auto;
    max-width: 600px;
    padding: 30px;
    /*Box Shadow*/
    box-shadow: 15px 15px rgba(0, 0, 0, 0.4);
  }

.form-control {
  text-align: left;
  margin-bottom: 24px;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
  font-weight: bolder;
}



.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
}

.form-control input{
  color: grey;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin: 6px;
}

.form-control button{
  width: 95%;
  color: black;
  border: 2px solid #000;
}

.form-control button:hover{
  border: 2px solid transparent;
  cursor: pointer;
  color: #000;
}